pydantic
fastapi
transformers
requests
python-dotenv
httpx
torch
sentence-transformers
numpy
uvicorn
langchain
python-jose[cryptography] 
python-multipart 
google-auth 
google-auth-oauthlib 
google-auth-httplib2

# Add any additional dependencies here